body{
       margin:0;
       padding:0;
}

.first-screen{
	background: url("../Resource/banner.jpg")
	no-repeat;
	
}
.second-screen, .first-screen{	
	width: 100vw;	
	height: 100vh;
	margin: 0;
}

 td{
   
   /* border: solid 1px silver; */
    text-align:center;
}

img{
	width: 40px; 
    height:40px;      
    display: inline-block;
    margin: 0px;
     

}

.userStone td>img{
	display: block;
	
}

.userStone>td{
	padding:  10px;
	
}
 
.side{
	display: block;
	margin: 5px;

}
